@font-face {
  font-family: 'Roboto Slab';
  src: url('./fonts/RobotoSlab-Regular-webfont.eot');
  src: url('./fonts/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RobotoSlab-Regular-webfont.woff') format('woff'),
        url('./fonts/RobotoSlab-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-Light-webfont.eot');
  src: url('./fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('./fonts/OpenSans-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Open Sans", sans-serif;
 -webkit-transition: all 1s ease-in-out;
 -moz-transition: all 1s ease-in-out;
 -ms-transition: all 1s ease-in-out;
 -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
html {
  background: #f5f5f5;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  background: transparent;
}
h2, h3 {
  font-family: "Roboto Slab", sans-serif;
}
h2 {
  margin-top: 0.2em !important;
  margin-bottom: 0.2em;
}
small {
  font-size: 50% !important;
}
hr {
  margin-top: 2em;
  margin-bottom: 2em;
}
a {
  color: #933 !important;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active, a:visited {
  color: #969;
}
input:focus {
  box-shadow: none !important;
  border: 1px solid #EB8787 !important;
}
.breadcrumb {
  border: 1px solid #ccc;
  background: #fcfcfc;
}
.row {
  margin-bottom: 0;
}
.page-header {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.page-header img {
  width: 48px;
  height: 48px;
  position: relative;
  top: -4px;
  margin-right: 0.3em;
}

.scroll-wrapper {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
}
.btn-scroll {
    padding: 0;
    pointer-events: auto;
    border: none;
    border-radius: 50%;
   -webkit-user-drag: none;
    background-color: #B44B5D;
    background: #B44B5D;
    height: 40px;
    width: 40px;
    display: none;
    opacity: .5;
    transition: all 0.25s ease-in-out;
}
.btn-scroll:hover{
    opacity: 1;
}
.btn-scroll-icon {
    display: block;
    margin: 8px auto auto 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 24px;
    width: 24px;
    left: 0;
    position: absolute;
    top: 0;
   -webkit-user-drag: none;
   -webkit-user-select: none
}

.container {
  max-width: 960px;
}
.row {
  margin-bottom: 2em;
}
.row:last-child {
  margin-bottom: 1em;
}
.rgb_input, .hex_input {
  width: 128px;
  height: 128px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background: url('./images/transparent.png');
}
#suiseiseki {-
  position: fixed;
  top: inherit;
  bottom: -8px;
  left: -240px;
  border: none;
  z-index: 666;
  opacity: 0;
  cursor: pointer;
}
::selection {
  background: #ddd;
  color: #000;
  text-shadow: none;
}

@media (max-width: 768px) {
  .page-header {
    text-align: center;
  }
  .row {
    margin-bottom: 0;
  }
  .col-sm-6 {
    margin-bottom: 3em;
  }
  .rgb_input, .hex_input {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #suiseiseki img {
    width: 70%;
    height: 70%;
  }
}

